@import "variables";

.circles {
    display: none;
}

.circle {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.circlesContainer {
    text-align: center;
}

@media #{$breakpoint-medium} {
    .circles {
        display: block;
    }

    .circle {
        margin-left: 35px;
    }

    .circlesMobile {
        display: none;
        text-align: center;
    }
}