.instaDaMarca {
    margin-top: 10%;
}

.profileInsta {
    font-size: 25px;
    text-align: center;
}

.instaName {
    margin-bottom: 5%;
}

.box {
    position: relative;
    min-height: 300px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 10em;
    background-color: grey;
    padding-top: 15%;
}

.instaBox {
    margin-top: 15%;
}

.instaBoxDescription {
    margin-top: 15%;
    font-size: 15px;
    padding: 30px;
}