@import "variables";

.secondSection {
    display: none;
    width: 90%;
    height: 350px;
    margin-top: 315px;
    background-color: $almond;
}

.secondSectionMobile {
    background-color: $almond;
}
  
#secondSectionImage {
    position: relative;
    background-image: url("https://picsum.photos/id/1027/191/315");
    background-size: cover;
    min-height: 315px;
}

.secondSectionMiddleColumn {
      min-height: 100%;
}
  
#secondSectionTxt {
    position: relative;
    height: 70%;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 10px;
}
  
#secondSectionButton,
#secondSectionButton:active,
#secondSectionButton:focus {
    position: relative;
    width: 65%;
    min-height: 35px;
    border-style: outset;
    outline:none;
    background-color: $black;
    border-radius: 5px;
    font-size: 10px;
    color: $white;
}

#secondSectionSpinner {
    min-height: 200px;
    background-image: url(https://picsum.photos/id/1027/332/200);
    background-size: cover;
}

@media #{$breakpoint-medium} {
    .secondSectionMobile {
        display: none;
    }

    .secondSection {
        display: flex;
    }

    #secondSectionSpinner {
        position: relative;
        width: 80%;
        margin-top: 15%;
        left: 40%;   
    }
}