@import "variables";

.sideBar {
    position: absolute;
    width: 91.5%;
    height: 40%;
    top: 15%;
    z-index: 999;
    background-color: #272727;
    color: #fff;
    animation-name:fadeInDown;
    animation-duration: 1s;
    display: none;
}

@media #{$breakpoint-medium} {
    .sideBar {
        display: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity:0;
        -webkit-transform:translate3d(0,-15%,0);
        transform:translate3d(0,-15%,0)
    }
    to {
        opacity:1;
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
}