@import "grid";
@import "navbar";
@import "circles";
@import "firstSection";
@import "secondSection";
@import "sideBar";
@import "instaDaMarca";
@import "footer";
@import "signature";

.pageTitle {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}